<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: site-head">

    <title>login</title>
</head>

<body>
    <header th:replace="layout :: site-header"></header>
    <h1>Login to the Blog... all the cool kinds are doing it... promise</h1>
    <form method="post" th:object="${loginForm}">
        <div>
            <label for="username">Username:</label>
        </div>
        <input id="username" type="text" name="username" th:value="*{username}"/>
        <span class="formError" th:if="${#fields.hasErrors('username')}"
              th:errors="*{username}">Invalid username</span>

        <div>
            <label for="password" th:value="*{username}">Password:</label>
        </div>
        <input id="password" type="password" name="password" th:value="*{password}"/>
        <span class="formError" th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}">Invalid password</span>

        <div>
            <input type="submit" th:value="Login"/>
            <a href="registration.html" th:href="@{/users/registration}">[Go to Register]</a>
        </div>
    </form>

    <footer th:replace="layout :: site-footer"></footer>
</body>
</html>